.help_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    background-color: #000;
    z-index: 99;

    display: block;
    opacity: 0.2;
}

.help_popup {
    position: fixed;
    top: 50px;
    left: 50%;
    width: 400px;
    margin-left: -203px;

    z-index: 100;
    text-align: left;

    outline: 6px solid rgba(255, 255, 255, .6);
    background-color: #FFF;

    h2 {
        padding: 5px;
    }

    .help_row {
        border-top: 1px solid #ddd;
        padding: 5px;
        padding-bottom: 10px;
    }

    dl {
        margin: 5px 0;
        font-size: 12px;
        dt {
        display: inline-block;
        margin: 0;
        padding: 3px 6px;
        min-width: 10px;
        text-align: center;
        background: #333;
        color: #EEE;
        border-radius: 2px;
        text-shadow: 1px 1px 0 #000;
        font-family: 'Source Code Pro',monospace;
            em {
                padding: 0 4px;
                color: #999;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                text-shadow: none;
            }
        }

        dd {
            display: inline;
            margin: 0 0 0 5px;
            color: #666;
        }
    }
}

@media (max-width: 767px) {
    .help_popup {
        top: 0;
        width: 320px;
        margin-left: -163px;
    }
}