@font-face {
    font-family: 'apidoc';
    src:url('../font/apidoc.eot');
    src:url('../font/apidoc.eot?#iefix') format('embedded-opentype'),
        url('../font/apidoc.woff') format('woff'),
        url('../font/apidoc.ttf') format('truetype'),
        url('../font/apidoc.svg#apidoc') format('svg');
    font-weight: normal;
    font-style: normal;
}